@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
/*      font-family: 'Montserrat', sans-serif;     */
:root{
    --font : 'Montserrat', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(208, 208, 208);
}

.n_parent {
  width: 1440px;
  height: 120px;
}

.navbar {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.navbar input {
  width: 300px;
  border-color: rgb(199, 199, 199);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid gray;
  font-family: "Montserrat", sans-serif;
}

.navbar a {
  position: relative;
  text-decoration: none;
  font-family: Montserrat SemiBold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c3554;
}
.navbar a:after {
  content: "";
  position: absolute;
  background-color: blue;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}

.navbar a:hover:after {
  color: grey;
  border: 1px;
  width: 100%;
}

.navbar a:hover {
  color: #fff;
}

.nbt{
  width: 120px;
  height: 30px;
  top: 36px;
  left: 1080px;
  padding: 8px, 32px, 8px, 32px;
  border-radius: 8px;
  border: 1px;
  gap: 10px;
  font-family: var(--font);
  cursor: pointer;
}

.n2{
   background-color: #F72585;
}


