@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --font: "Montserrat", sans-serif;
  --width: 1440px;
  --textcolor: #1c3554;
  --btncolor: #f72585;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.n_parent {
  width: 1440px;
  height: 120px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.navbar {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.navbar input {
  width: 300px;
  border-color: rgb(199, 199, 199);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid gray;
  font-family: "Montserrat", sans-serif;
}

.navbar a {
  position: relative;
  text-decoration: none;
  font-family: Montserrat SemiBold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c3554;
}
.navbar a:after {
  content: "";
  position: absolute;
  background-color: blue;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}

.navbar a:hover:after {
  color: grey;
  border: 1px;
  width: 100%;
}

.navbar a:hover {
  color: blue;
}

.nbt {
  width: 120px;
  height: 30px;
  top: 36px;
  left: 1080px;
  padding: 8px, 32px, 8px, 32px;
  border-radius: 8px;
  border: 1px;
  gap: 10px;
  font-family: var(--font);
  cursor: pointer;
}

.navbar button:active {
  background-color: blue;
  color: #fff;
}

.n2 {
  background-color: #f72585;
}

/*                      Section 01                          */
/*                      Section 01                          */
/*                      Section 01                          */
/*                      Section 01                          */
/*                ummumiy box xossalari                     */

.section01 {
  width: var(--width);
  height: 700px;
  position: relative;
}

.s01_texts {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 70px;
}

.s01_texts p {
  font-family: var(--font);
  color: var(--textcolor);
}

.s01-text02 {
  font-size: 64px;
  font-weight: 700;
}

.s01-text04 {
  font-size: 32px;
  font-weight: 700;
}
.animation {
  height: 70px;
  overflow: hidden;
}
.animation p {
  color: red;
  font-size: 30px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animation p:nth-child(1) {
  animation: ani_text 10s infinite;
}

@keyframes ani_text {
  0% {
    margin-top: 990;
  }
  25% {
    margin-top: -70;
  }
  50% {
    margin-top: -140;
  }
  75% {
    margin-top: -70;
  }
  100% {
    margin-top: 0;
  }
}

.s01_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.s01_box {
  width: 295px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-weight: 700;
  transition: 0.5s;
}

.s01_box:hover {
  transform: scale(1.04);
  background-color: rgb(207, 207, 255);
  border-radius: 20px;
}
.s01_box img {
  width: 250px;
  height: 150px;
  border-radius: 10px;
}
/*                              box 01                          */

.s01_box p {
  padding: 10px;
  font-family: var(--font);
}

.s01_box_01 img {
  width: 250px;
  height: 150px;
  border-radius: 10px;
}

.s01_text01 {
  background-color: #4586d6;
  width: 130px;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: 130px;
  left: 85px;
  opacity: 0.9;
  color: #fff;
  font-size: 12px;
}

.s01_text02 {
  text-align: left;
}
.s01_text03 {
  color: red;
}
.s01_text04 i {
  color: rgb(230, 165, 2);
}

.s01_box del {
  color: gray;
}
/*                         section    02                     */
/*                         section    02                     */
/*                         section    02                     */
/*                         section    02                     */
.section02 {
  width: 1232px;
  height: 918px;
  position: relative;
  margin: 0 auto;
}

.s02_text {
  width: 1232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.s02_text h1 {
  font-family: var(--font);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--textcolor);
}

.s02_text button {
  width: 250px;
  height: 60px;
  top: 1083px;
  left: 1048px;
  padding: 14px, 24px, 14px, 24px;
  border-radius: 8px;
  gap: 10px;
  background-color: #f72585;
  color: #fff;
  border: none;
}

.s02_text button:active {
  background-color: blue;
}

.s02_boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
}

.s02_box {
  width: 296px;
  height: 391px;
  top: 1201px;
  left: 104px;
}

.s02_box h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 300px;
  color: #1c3554;
  background: rgba(241, 241, 152, 0.479);
  border-radius: 20px;
}

.s02_box h2:hover {
  transform: scale(1.1);
}

.s02_box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*                         section    03                     */
/*                         section    03                     */
/*                         section    03                     */
/*                         section    03                     */
/*                         section    03                     */

.section03 {
  width: var(--width);
  height: 1973px;
  margin: 0 auto;
  position: relative;
}

.s03_texts {
  display: flex;
  justify-content: space-evenly;
  color: var(--textcolor);
}
.s03_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-left: 300px;
}
.s03 {
  width: 200px;
  height: 40px;
  top: 2159px;
  left: 1112px;
  padding: 16px, 40px, 16px, 40px;
  border-radius: 8px;
  gap: 10px;
  background-color: var(--btncolor);
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.s03_button01 {
  background: rgba(255, 206, 206, 0.6);
  color: var(--btncolor);
  transition: 0.5s ease;
}
button:active {
  background-color: blue;
  color: #fff;
  transform: scale(1.1);
}
button:hover {
  transform: scale(1.1);
}
.s03_button02 {
  background: var(--btncolor);
  color: var(--btncolor);
  transition: 0.5s ease;
  color: #fff;
}
/*                         section  left   box                     */
/*                         section  left   box                     */
/*                         section  left   box                     */
/*                         section  left   box                     */
/*                         section  left   box                     */
.s03_box_left {
  width: 260px;
  height: 1576px;
  position: absolute;
  border-right: 1px solid gray;
  left: 100px;
  top: 60px;
}

.s03_box_left h2 {
  font-size: 2rem;
  margin-left: 20px;
  color: var(--textcolor);
}
.s03_box_left input {
  margin: 8px;
}
.s03_box_left i {
  font-size: 16px;
  color: gold;
}
.s03_box_left span {
  color: rgb(138, 138, 138);
  margin: 5px;
}
.s03_box_left h1 {
  font-size: 1.1rem;
  color: #1c3554;
  padding: 1rem;
}

/*                         section  right   box                     */
/*                         section  right   box                     */
/*                         section  right   box                     */
/*                         section  right   box                     */
/*                         section  right   box                     */
.s03_box_right {
  width: 917px;
  height: 1780px;
  position: absolute;
  right: 100px;
  top: 60px;
}

.s03_boxes {
  width: auto;
  height: 400px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.s03_box_right_s03_box_01 {
  border: 1 solid red;
}
.s03_box {
  width: 300px;
  height: 400px;
}

.s03_box img {
  width: 300px;
}

.s03_box h1 {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  color: var(--textcolor);
}
.s03_box h2 {
  width: 200px;
  color: #fff;
  position: absolute;
  left: 50px;
  bottom: 30px;
  background-color: #4586d6;
  border-radius: 20px;
  padding-left: 20px;
  cursor: pointer;
  opacity: 0.8;
}
.s03_box h2:hover {
  background-color: blue;
}

.s03_box h1:nth-child(4) {
  color: red;
}
.s03_box del {
  color: grey;
  margin-right: 10px;
}

.s03_box i {
  color: gold;
}
